// Primary Colors: Background, primary buttons, headers, main text.
// Secondary Colors: Borders, secondary buttons, subtitles, secondary text.
// Accent Colors: Links, icons, highlights, call-to-action buttons.

// Primary Colors
$color-primary-dark-blue: #181e4b;

$color-primary-navy-light-blue: #5e6282;
$color-primary-white: #ffffff;
$color-primary-light-grey: #686d77;

$color-primary-light-blue: #dfd7f9;
$color-primary-light-yellow: #fff1da;
$color-primary-medium-blue: #14183e;

// Secondary Colors
$color-secondary-dark-black: #212832;
$color-secondary-medium-dark: #1e1d4c;
$color-secondary-dark-black-alt: #080809;
$color-secondary-light-red: #ff946d;
$color-secondary-dark-red: #ff7d68;
$color-secondary-dark-violet: #5e3be1;
$color-secondary-light-violet: #747def;
$color-secondary-medium-dark-black: #212832;

// Accent Colors
$color-accent-light-blue: #84829a;
$color-accent-light-blue-variant: #8a79df;
$color-accent-yellow: #f1a501;
$color-accent-light-red: #df6951;