.features {

 @media only screen and (max-width: $bp-large-tablet) {
      
  margin-top: -30vh;
  
    }

     @media only screen and (max-width: $bp-large-mobile) {
      
  margin-top: 10vh;
  
    }

        

  &__heading-6 {
    text-align: center;
    color: $color-primary-navy-light-blue;
    margin-bottom: 1rem;
  }

  &__heading-2 {
    text-transform: capitalize;
    text-align: center;
    color: $color-primary-medium-blue;
  }

  &__cards__container {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 40em) {
      grid-template-columns: 1fr;
      justify-items: center;
     
    }

    gap: 8rem;
    margin: 7rem 0rem;
   

    .features__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem 3rem;
      border-radius: 3rem;
      background-color: white;
      width: 24rem;
      height: 24rem;

      
      &__2 {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
        position: relative;
        z-index: 2;
      }

      &__image {
        height: 7.8rem;
      }

      &__heading-5 {
        text-align: center;
        color: $color-secondary-medium-dark;
      }

      &__description {
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;

        text-align: center;
        color: $color-primary-navy-light-blue;
        font-family: "Poppins", sans-serif;
      }
    }
  }

  .feature-main-card {
    position: relative;
    z-index: 1;
  }

  .features__card__2 {
    position: absolute;
    z-index: 5;
    background-color: white;

    @media only screen and (max-width: 40em) {

        position: static;
      
  }

    
  }

  .orange-frame {
    width: 10rem;
    height: 10rem;
    border-radius: 30px 10px 30px 0px;
    background-color: $color-accent-light-red;
    position: absolute;
    z-index: -2;
    bottom: -1rem;
    left: -3rem;
  }
}
