

.heading-1 {
  color: $color-primary-dark-blue;
  font-family: "Volkhov", serif;
  font-size: 7.4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3.36px;
}


.heading-2 {
   font-family: "Volkhov", serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}


.heading-5 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading-5-poppins {

  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.heading-6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

